<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>840296264589-lka9lmua3661ed1c8764nbbbj9mdot0c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.840296264589-lka9lmua3661ed1c8764nbbbj9mdot0c</string>
	<key>API_KEY</key>
	<string>AIzaSyBkhUG2qLmHLp9ffugObtvDboFVHm4O3zE</string>
	<key>GCM_SENDER_ID</key>
	<string>840296264589</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterEcommerce</string>
	<key>PROJECT_ID</key>
	<string>flutter-ecommerce-app-9d659</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-ecommerce-app-9d659.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:840296264589:ios:927ca54ad8acedbb5183c4</string>
</dict>
</plist>